{{{include '../layout_second/header'}}}


<link href="{{{staticResourcesUrl}}}/css/bootstrap3/css/bootstrap.min.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap3/icons.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap3/dialog.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap3/guide_tise.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap3/base.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap3/mymiljia.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />



</head>

<body>
{{{include '../layout_second/top'}}}


<div class="container my_mlijia_container">
    <div class="container weixinOpLead">
        <p class="mb20 mt40">从今天起把店铺装进微信，仅需3步</p>
        <ul class="weixinOpLead_ul ">
            <li class="active fl ">1.注册微信服务号</li>
            <li class="fl wxOpLead_stpe1 poi1">2.认证微信服务号</li>

            <li class="fr">3.授权绑定美丽加</li>
        </ul>
        <div class="wxOpLeadMain" id="goHelp">
            <p class="mb20">问答小贴士：</p>
            <p class="quiteion">1.我该如何注册微信服务号？</p>
            <p>通过电脑打开微信公众平台官方网站：http://mp.weixin.qq.com/，点击右上角的“立即注册”...<a class="ml10" v-bind:href="register" target="_blank">查看详情<span class="fsongti">>></span></a></p>
            <p class="quiteion">2.我已经有微信公众号，但是不知道是服务号还是订阅号，该怎么查询？</p>
            <p>通过电脑登录微信公众平台官方网站：http://mp.weixin.qq.com/，右上角可查看公众号类型...<a class="ml10" v-bind:href="intro" target="_blank">查看详情<span class="fsongti">>></span></a></p>
            <p class="quiteion">3.已有微信订阅号，该如何更换为服务号？</p>
            <p>通过电脑登录微信公众平台官方网站：http://mp.weixin.qq.com/，进入公众号设置...<a class="ml10" v-bind:href="upgrade" target="_blank">查看详情<span class="fsongti">>></span></a></p>
        </div>
        <a class="butsbase butblue01_s"  id="nextBtn" href="{{nextLink}}">已有服务号，下一步</a>
    </div>
</div>



<script src="/o2o/resources/javascript/wechat/auth/register_server_number.js?v={{{ fileVersion }}}"></script>

<script src="/o2o/resources/javascript/wechat/base/mljia_wx_userUtil.js?v={{{ fileVersion }}}"></script>

{{{include '../layout_second/footer'}}}

