 <div class="top_navbar">
        <div class="navbar_container">
            <div class="fl navbar_left">
                <p><a href="" target="_blank"><i class="icon-home"></i>美丽加首页</a></p>
            </div>
            <div class="fr">
                <ul class="navbar_right" id="user_module">
                    <li data-user="true"></li>
					<li data-user="true" style="display: none"></li>
					<li data-user="true"><a id="exitLogin">&nbsp;退出</a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">账号管理<span id="mesNum"></span></a></li>
                    <li>|</li>
                    <li><a href="staticHtml/helpCenter" target="_blank">帮助中心</a></li>
                    <li>|</li>
                    <li><a href="#">网站地图</a></li>
                </ul>

            </div>

        </div>

</div>



<div class="top_subnav_main my_mlijia_top">
    <div class="navbar_container top_subnav_logo poi1 ">
        <div class="fl">
            <a href="#" target="_blank">
                <img src="{{{staticImageUrl}}}/mljiav2/shopmain/mlijia_logo_r2_c2.png" width="256" height="62" class="top_logo"> </a>
        </div>
        <div class="fl top_logo_txt">商家中心</div>
    </div>
</div>
	




