
 <script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/bootstrap/bootstrap.min.js"></script>
  <script type="text/html" id="modifyItemPricePro" title="修改项目价格-模板">
 			 <ul class="editPricebox" id="modifyItemPriceProPanel" data-modifyItemPricePro=true>
               <li class="a1"><img src="{{{staticImageUrl}}}/img/mljia/edprice_toparror.gif" width="17" height="10"></li>
               <li class="a2">
               <p class=" ml18"><input id="itemProPrice" type="text" onblur="checkNum(this);"  value="{{ d.price }}" maxlength="10"></p>
               <p class="ml15"> <a  onclick="saveItemPriceData(this);" class="ml12 but01">确定</a></p>
               <p class="ml20"><a onclick="cancelItemPriceProPanel();">取消</a></p></li>
               </ul>
 </script> 
 
 <script>
 setTimeout(function(){
 	$('.carousel').carousel({
	  interval: 4000
	});
 },1000);
 </script>
 
<div class="container-fluid footerp"> 
	<div class="container marketing" id="w980">
		<div class="row">
			<div class="span7 ml0" >

				<p class="footerm mt20 ml20">
					<a href="{{{staticHomeUrl}}}/static/event/helpcenter/aboutUs.html" target="_blank">关于我们</a>
					<c>|</c>
					<a href="{{{staticHomeUrl}}}/static/event/helpcenter/contactUs.html" target="_blank">联系我们</a>
					<c>|</c>
					<a href="{{{staticHomeUrl}}}/static/event/helpcenter/recruitment.html" target="_blank">诚聘英才</a>
					<c>|</c>
					<a href="{{{staticHomeUrl}}}/static/event/helpcenter/legal.html" target="_blank">法律声明</a>
					<c>|</c>
					<a href="{{{staticHomeUrl}}}/static/event/helpcenter/webMap.html" target="_blank">网站地图</a>
					<c>|</c>
					<a href="{{{staticHomeUrl}}}/static/event/helpcenter/shopHelper.html" target="_blank">店铺助手</a>
				</p>
				
				<p class="ml20">深圳市美丽加互联网有限公司 版权所有 2013-2016&nbsp;|&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备13068402号</a>
				<script type="text/javascript2">
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa99432a7d8ebdb44b06e9c2fbf97beba'   type='text/javascript'%3E%3C/script%3E"));
				</script>

				</p>

			</div>
			<div class="pull-right">
				<img src="{{{staticImageUrl}}}/mljia/bcode_r13_c17.gif">
			</div>
			<div class="pull-right" id="telnew" style="display: none;">
			<img src="{{{staticImageUrl}}}/mljia/400tel_r2_c2.gif"></div>
		</div>
	</div>
</div>

				<!-- 扫码下载美丽加APP -->
				<div class="navbar-fixed-bottom" style="margin-left: 92%; margin-bottom: 5%">
					<div class="app_downmenu">
		                <div class="a1 poi1 app_downmenubut"><img src="{{{staticImageUrl}}}/mljia/ktwxin_icon04.gif" width="26" height="46">
			                <ul class="poi2 app_softdown">
			                <li class="td1">
			                <p><img src="{{{staticImageUrl}}}/mljia/shangjiaxiazai.gif" width="139" height="139"><br>商家版下载</p>
			                 <p><img src="{{{staticImageUrl}}}/mljia/yonghuxiazai.gif" width="143" height="143"><br>用户版下载</p>
			                </li>
			                <li class="td2"><img src="{{{staticImageUrl}}}/mljia/softdown_arrow.png" width="8" height="18"></li>
			                </ul>
	               		</div>
    					<p class="a2">美丽加手机版下载</p>
					</div>
					<div class="fuchuana_main">
						<p class="fuchuana">
							<a href="#" id="toTop1" style="display: none;"><i class="icon-upper"></i></a>
						</p>
					</div>
					<p class="fuchuanb">
							<a href="#" target="_blank"><i class="icon-upper"></i></a>
					</p>
				</div>
				
					
		
				<div class="navbar-fixed-bottom" style="margin-left: 92%; margin-bottom: 5%">

					<p class="fuchuana">
						<a href="#header"  id="toTop"><i class="icon-upper"></i></a>
					</p>
				</div>

 </body>
</html> 
