
<!DOCTYPE html>
<html >
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<!-- 若页面需默认用极速核 -->
<meta name="renderer" content="webkit"> 
<title>美丽加-微信平台</title>
<meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9;IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{{staticResourcesUrl}}}/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{{{staticResourcesUrl}}}/css/jquery.ui.css">

<script type="text/javascript">
    var wxGLOBAL = {
        webRoot:"",
        homeUrl :"{{{homeUrl}}}",
        download_url: "{{{downloadUrl}}}",
        saasActionServer:"{{{saasActionServer}}}",
        wechatActionServer : "{{{wechatActionServer}}}",
        uploadActionServer :"{{{uploadActionServer}}}",
        staticImage_Url : "{{{staticImageUrl}}}",
        //saas action interface
        saasActionServer : "{{{saasActionServer}}}",
        //wechat action interface
        wechatActionServer : "{{{wechatActionServer}}}",
        accessToken  :"{{{ accessToken }}}",
        shopSid : "{{{ shopSid }}}",
        fileVersion :"{{{fileVersion}}}"
    }


</script>

<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/jquery.js?v=${fileVersion}"></script>
<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/jquery.cookie.js?v=${fileVersion}"></script>
<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/jquery.ui.js?v=${fileVersion}"></script>
<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/jquery.base64.js?v=${fileVersion}"></script>
<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/store.min.js?v=${fileVersion}"></script>
<!-- layer.js 跟bootstarp有样式冲突， 放在最前方-->
<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/layer/layer.js?v=${fileVersion}"></script>
<script type="text/javascript" src="/resources/javascript/wechat/base/base.js?v=${fileVersion}"></script>
<script type="text/javascript" src="/resources/javascript/wechat/base/wx_global_util.js?v=${fileVersion}"></script>
<script type="text/javascript" src="/resources/javascript/wechat/base/request.js?v=${fileVersion}"></script>
