

<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/bootstrap/bootstrap.min.js"></script>
 
<div class="footer_main">
	<div class="navbar_container  footer_container">
		<p class="footerm mt20 ml20">
						<a href="{{{staticHomeUrl}}}/static/event/helpcenter/aboutUs.html" target="_blank">关于我们</a>
						<c>|</c>
						<a href="{{{staticHomeUrl}}}/static/event/helpcenter/contactUs.html" target="_blank">联系我们</a>
						<c>|</c>  
						<a href="{{{staticHomeUrl}}}/static/event/helpcenter/recruitment.html" target="_blank">诚聘英才</a>
						<c>|</c>
						<a href="{{{staticHomeUrl}}}/static/event/helpcenter/legal.html" target="_blank">法律声明</a>
						<c>|</c>
						<a href="{{{staticHomeUrl}}}/static/event/helpcenter/webMap.html" target="_blank">网站地图</a>
						<c>|</c>
						<a href="{{{staticHomeUrl}}}/static/event/helpcenter/shopHelper.html" target="_blank">店铺助手</a>
		</p>
		<p class="ml20  text-center">深圳市美丽加互联网有限公司 版权所有 2013-2016&nbsp;|&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备13068402号</a>
			<script type="text/javascript2">
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa99432a7d8ebdb44b06e9c2fbf97beba'   type='text/javascript'%3E%3C/script%3E"));
			</script>
		</p>
		<!--<p  class="ml20">
			&lt;!&ndash; 网站实名认证 &ndash;&gt;
			<a id="_pingansec_bottomimagesmall_shiming" ></a>
			<%&#45;&#45;<script type="text/javascript">
			$(document).ready(function(){
					$.getScript('http://v.trustutn.org/js/cert.js?v=2', function() {
							$.getScript('http://si.trustutn.org/certShow?type=122&certType=1&sn=533141117009533977729', function() {
			            });
					});
					
				$("#toAnimateTop").click(function () {
				        var speed=200;//滑动的速度
				        $('body,html').animate({ scrollTop: 0 }, speed);
				        return false;
				 });
				if($(window).width()<1200){
					$('div .navbar-fixed-bottom').hide();
				}
				
				$(window).scroll(function() {
					var topHeight= document.documentElement.scrollTop || document.body.scrollTop;
						if(topHeight>180){
							$("#toAnimateTop").show();
						}else{
							$("#toAnimateTop").hide();
						}
				}).resize(function() {
					if($(document).width()<1200){
						$('div .navbar-fixed-bottom').hide();
					}else{
						$('div .navbar-fixed-bottom').show();
					}
				}).on("load",function(){
					var topHeight= document.documentElement.scrollTop || document.body.scrollTop;
					if(topHeight>180){
						$("#toAnimateTop").show();
					}else{
						$("#toAnimateTop").hide();
					}
				});
				 setTimeout(function(){
					 	$('.carousel').carousel({
						  interval: 4000
						});
					 	$(".carousel-inner .active").animate({"opacity":"1"},300);
	
			    },1500);
			});
			</script>&#45;&#45;%>
		</p>-->
	</div>

	<div class="navbar-fixed-bottom" style="margin-left: 92%; margin-bottom: 5%">
		<p class="fuchuana">
			<a  id="toAnimateTop" style="display: none;"><i class="icon-upper"></i></a>
		</p>
	</div>

</div>
 </body>
</html>           

