

{{{include '../layout_base/header'}}}

<link href="{{{staticResourcesUrl}}}/css/bootstrap/bootstrap.min.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap/plus.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/javascript/layer/skin/layer.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap/plus_v1.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap/percentage_tc.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap/weixin_tc.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap/dialog.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
 <link href="{{{staticResourcesUrl}}}/javascript/library/artDialog/skins/default.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/javascript/library/laypage/skin/laypage.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
<link href="{{{staticResourcesUrl}}}/css/bootstrap3/mymiljia.css?v={{{ fileVersion }}}" rel="stylesheet" type="text/css" />
</head>

<body  data-shop-sid="{{{shopSid}}}" id="header">
{{{include '../layout_base/top'}}}


<div class="container weixinptmain" id="w1000">

    <ul class="jilumanu mt10">
	    <li  ><a id="sendWXInfo">发微信内容</a></li>
	    <li class="weixinyhtit"><a href="/o2o/route/${shopSid}/promotions-release_promotion_activity">发布优惠活动</a></li>
		<li ><a href="/o2o/route/{{{shopSid}}}/manage-weixin_custom_index">微信用户管理</a></li>
		<li  ><a href="/o2o/route/{{{shopSid}}}/robot-upweixin_auto_reply_index">自动回复</a></li>
    	<li class="activ"><a href="/o2o/route/{{{shopSid}}}/customized-creat_mass_message_index">自定义发消息</a></li>
     	<li><a href="/o2o/route/{{{shopSid}}}/fodder-wechat_fodder_index">素材库</a></li>
       
	</ul>
	<ul class="wxtf_menu2">
    	<li ><a href="/o2o/route/{{{shopSid}}}/customized-creat_mass_message_index">新建群发消息</a></li>
    	<li class="activ"><a href="/o2o/route/{{{shopSid}}}/customized-weixin_mass_history_index">发送历史</a></li>
    </ul>
</div>


<div class="container mt5 weixinptmain wxminh500" id="w998">
<div class="wxdh_dhk01 wxqf_fshis">
<ul class="wxdh_dhktatle wxdh_dhktatle2">
	<li class="a1">消息类型</li>
	<li class="a2">消息类型</li>
	<li class="a3">发送时间</li>
	<li class="a4">发送状态</li>
</ul>

<!-- 内容迭代区 -->
<div id="containerDiv">

<br>
<div class="ebderror_tise">
	<img src="{{{staticImageUrl}}}/mljia/dengpao_r2_c2.gif" width="16" height="22">暂无发送历史，请发送
</div>

</div>
<br>

<div class="fenyeademain3x pl15" id="pageFenye"></div>



</div>

<script type="text/html" id="containerUlTmpl">
{{# for(var i=0;i<d.items.length;i++){ }}
	{{# var item=d.items[i];}}
{{# if(item.type==4){ }}
	{{# for(var j=0;j<item.material_list.length;j++){ }}
			{{# var ite=item.material_list[j];}}

<ul class="wxdh_dhtd1 wxdh_dhtd2" style="{{(j+1)==item.material_list.length?'':'border-bottom:0' }}">
{{# if(ite.cover_file_id){ }}
	{{# if(ite.target_url){ }}
	<li class="a1"><a href="{{ite.target_url}}" target="_blank"><img src="{{d.download_url}}{{ite.cover_file_id }}" width="81" height="81"></a></li>
	{{# }else{ }}
	<li class="a1"><img src="{{d.download_url}}{{ite.cover_file_id }}" width="81" height="81"></li>
	{{# } }}

{{# }else{ }}
	<li class="a1"><img src="{{d.staticImage_Url}}/mljia/wxhis_r2_c2.gif" width="81" height="81"></li>
{{# } }}

	<li class="a2">
		{{# if(ite.target_url){ }}
		<p><span><a href="{{ite.target_url}}" title="{{ (ite.title||'') }}"  target="_blank">{{(ite.title||'').substring(0,15) }}</a></p>
		{{# }else{ }}
		<p><span title="{{ (ite.title||'') }}" >{{(ite.title||'').substring(0,15) }}</p>
		{{# } }}
		<!--<p class="info">{{ite.description||''}}</p>-->
	</li>
	<li class="a3"><p class="mt23">
{{# if(j==0){ }}
		{{# if(item.type==0){ }}
		文字
		{{# }else if(item.type==1){ }}
		图片
		{{# }else if(item.type==2){ }}
		语音
		{{# }else if(item.type==3){ }}
		视频
		{{# }else if(item.type==4){ }}
		图文
		{{# }else{ }}
		其他
		{{# } }}
{{# } }}
	</p>
</li>
	<li class="a4"><p class="mt23">
{{# if(j==0){ }}
	{{item.send_time}}
{{# } }}
</p></li>
	<li class="a5">
{{# if(j==0){ }}
<p class="mt23">
		{{# if(item.send_status==0){ }}
		等待发送
		{{# }else if(item.send_status==1){ }}
		发送完毕
		{{# }else if(item.send_status==2){ }}
		发送失败
		{{# }else{ }}
		其他
		{{# } }}
	</p>
			{{# if(item.send_status==1){ }}
		<p class="txthui">成功发送{{ item.sent_count}}人</p>
		<p class="txthui">失败发送{{ item.fail_count}}人</p>
			{{# } }}
{{# } }}
	</li>
</ul>
{{# } }}

{{# }else{ }}
<ul class="wxdh_dhtd1 wxdh_dhtd2">

{{# if(item.cover_file_id>0){ }}
	<li class="a1"><a href="{{d.download_url}}{{item.cover_file_id }}" target="_blank"><img src="{{d.download_url}}{{item.cover_file_id }}" width="81" height="81"></a></li>
{{# }else{ }}
	<li class="a1"><img src="{{d.staticImage_Url}}/mljia/wxhis_r2_c2.gif" width="81" height="81"></li>
{{# } }}

	<li class="a2">
		<p><span title="{{ (item.title||'') }}" >{{(item.title||'').substring(0,1500) }}</p>

		<p class="info">{{(item.content||'').substring(0,4000)}}</p>
	</li>
	<li class="a3"><p class="mt23">
	{{# if(item.type==0){ }}
	文字
	{{# }else if(item.type==1){ }}
	图片
	{{# }else if(item.type==2){ }}
	语音
	{{# }else if(item.type==3){ }}
	视频
	{{# }else if(item.type==4){ }}
	图文
	{{# }else{ }}
	其他
	{{# } }}
	</p></li>
	<li class="a4"><p class="mt23">{{item.send_time}}</p></li>
	<li class="a5"><p class="mt23">
	{{# if(item.send_status==0){ }}
	等待发送
	{{# }else if(item.send_status==1){ }}
	发送完毕
	{{# }else if(item.send_status==2){ }}
	发送失败
	{{# }else{ }}
	其他
	{{# } }}
	</p>
		{{# if(item.send_status==1){ }}
		<p class="txthui">成功发送{{ item.sent_count}}人</p>
		<p class="txthui">失败发送{{ item.fail_count}}人</p>
		{{# } }}
	</li>
</ul>
{{# } }}

{{# } }}
</script>


 <!-- 分页 待完成 -->

</div>
<script type="text/html" id="yingdaoTemp">
	 <div class="container weixingginfo">
		<div class="wXinfotop">
	        <p class="fz18 fl"><i class="icon-wXinfotop01 mr10"></i>公众号信息</p>
	        <p class="fl txthui ml10 mt2"><i class="icon-wXinfotop02"></i>点击“更新”字样即可将微信公众号的名称、头像、二维码、公众号类型信息同步为最新状态。<a id="refreshEvent">更新 <span class="fsongti">>></span></a></p>
        </div>

        <ul class="gginfomain">
            <li class="a1 poi1">
                <p class="txt1">公众号类型：</p>
                <p>{{ ( d.content.service_type_info==0 || d.content.service_type_info==1) ? "订阅号" : " "}}</p>
                 {{# if(d.content.service_type_info==0 || d.content.service_type_info==1 || d.content.verify_type_info==-1) { }}
				  <p class="wXinfoTese poi2" ><i class="icon-wXinfotop03"></i>您需要更换公众号类型为【服务号】，才可使用全部微信服务。<a class="upgradeLink" target="_blank">如何更换？</a></p>
                 {{# } }}
            </li>

            <li class="a2 poi1">
                <p class="txt1">是否认证：</p>
                <p>{{ d.verify_type_info==-1 ? "未认证" : "已认证"}}</p>
				<p class="wXinfoTese poi2"  ><i class="icon-wXinfotop03"></i>您需要【认证】服务号，才可使用全部微信服务。<a class="authLink" target="_blank">如何认证？</a></p>
            </li>
            
            <li class="a1">
                <p class="txt1">公众号名称：</p>
                <p>{{d.content.nick_name}}</p>


            </li>
            <li class="a3 poi1 downBcodeMain">
                <p class="txt1">二维码：</p>
                <p><img src="{{d.qrCodeImg}}" width="168" height="168"></p>
                <p class="poi2 downBcode"><a class="downLoadCodeImg">下载高清二维码</a></p>
            </li>
            <li class="a5">
                <p class="txt1">公众号头像：</p>
                <p><img src="{{d.content.head_image}}" width="168" height="168"></p>
            </li>
            <li class="tise2">
                <p class="ml40">如需解除绑定，请联系4007889166</p>
            </li>
        </ul>
    </div>
  </div>

</script>



<script type="text/javascript" src="{{{staticResourcesUrl}}}/javascript/library/laypage/laypage.js?v={{{ fileVersion }}}"></script>

<script  type="text/javascript" src="{{{context}}}/resources/javascript/wechat/customized/weixin_mass_history_index.js?v={{{ fileVersion }}}"></script>

<script src="/o2o/resources/javascript/wechat/base/mljia_wx_userUtil.js?v={{{ fileVersion }}}"></script>

{{{include '../layout_base/footer'}}}